@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  /* Root scope - All set-conditions below can be used anywhere in this style-sheet */
  --primary-color: rgb(27, 27, 27);
  --primary-color-light: rgb(54, 54, 54);
  --secondary-color: rgb(135, 101, 250);
  --accent-gradient: rgb(228, 0, 171);
  --text-primary: white;
  --text-secondary: rgb(189, 189, 189);
  font-size: 18px;
}
/* Default styling for elements*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
}

/*body*/
body {
  background: var(--primary-color-light);
  min-height: 450px;
  position: relative;
}

.topnav {
  background-color: var(--primary-color);
  position: relative;
  width: 100%;
  margin: auto;
  
}

#searchBar {
  position: relative;
  left: 4em;
  display: flex;
  top: -1.5em;
  height: 2.5em;
  padding: 2px;
  width: 50%;
  background: #171c24;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
  border-radius: 36px;
  color: white;
}

#cart {
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  display: block;
  right: 0.6em;
  top: 1.7em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(112deg) brightness(104%) contrast(103%);

}

/* text on top nav */
.topnav a {
  margin: auto;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  font-size: 14px;
  left: 3em;
  color: white;
  text-decoration: none;
  position: relative;
  top:-0.75em;
  padding: 0 10px;
}



/* login / signup button */

.loginBtn {
  
  position: absolute; 
  left: 15em;
  top: 1.4em;
}

.loginBtn button {
  color: gray;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  background-color: var(--primary-color);
  border: none;
  padding-left: 5px;
  transition-duration: 0.4s;
}

.loginBtn button:hover {
  color: #54FF8E;
}

#signupBtn {
  border-left: 1px solid #fff;
}

::placeholder {
  color: white;
  font-family: Roboto Mono;
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

/*Main Logo*/
#logo {
  position: relative;
  left: 0.3em;
  top: 1.2em;
  width: 40px;
  height: 40px;
  
}


nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;  
}

nav .nav-items ul li {
  list-style: none;
  padding: 0 15px;
  
}
nav .nav-items ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items ul li a:hover {
  color: rgb(135, 101, 250);
}

/* laptop image div */
.product_image {
  position: absolute; 
  width: 375px;
  height: 400px;
  left: 1em;
  top: 9em;
  display: flex;

}

#product_title {
  font-family: Sora;
  font-size: 26px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 85%;
}


.product_price {
  position: relative;
  border: 1px solid #8765FA;
  box-sizing: border-box;
  top: 10em;
  left: 3em;
  width: 30%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#price {
  text-align: center;
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  color: white;
  
}
#stock {
  position: absolute;
  top: -1.5em;
  font-family: Sora;
  font-size: 16px;
  font-weight: 1000;
  line-height: 20px;;
  letter-spacing: 0em;
  text-align: left;
  color: #0F9DCA;
}
#basketBtn {
  position: absolute;
  width: 120px;
  height: 50px;
  background: #8765FA;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  left: 12em;
  top: 22em;
  color: #FFFFFF;
}
.specs {
 
  position: absolute;
  width: 25%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgba(135, 101, 250, 0.94);
  box-sizing: border-box;
  left: 15em;
  top: 9em;

}

.description {
  height: 30%;
  position: absolute;
  width: 80%;
  left: 2em;
  top: 25em;

  border: 4px solid rgba(135, 101, 250, 0.94);
  box-sizing: border-box;
}

/* Turn from radio buttons to stars */

[type=radio] {
  opacity: 0;
}

[type=radio]+img {
  cursor: pointer;
    margin: auto;
}
.stars {
  position: relative;
  top: 2em;
  left: -10px;
}

.title-rate {
  position: relative;
  top: -0.5em;
  left: -1em;
}

.cust_reviews {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 150px;
  bottom:-25em;

} 

 .rate {
  position: absolute;
  background-color: rgb(54, 54, 54);;
  height: 100%;
  width: 35%;
}

.rate h2 {
  font-family: Sora;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: auto;
}

.rate [type = radio] {
  max-width: 1px;
  max-height: 1px;
}
#review {
  display: flex;
  align-content: center;
  left: 7em;
  top: 2em;
  position: relative;
  font-size: 10px;
  font-family: Sora;
  width: 40%;
  margin: auto;  
 
}

@media only screen and (min-width: 768px){
  /*body*/
body {
  background: rgb(27, 27, 27);
  background-size: cover;
  background-position: center;
  min-height: 450px;
  height: 100vh;
  position: relative;
}


/*navigation bar*/
/*primary nav element*/
.topnav
 {
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0px;
    margin: auto;
    background: #141414;
}

.nav-pages{
    width: 700px;
    margin: auto;
    padding-top: 15px;


}

/* text on top nav */
.topnav a {
    margin: auto;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    top:20%;
    padding: 0 10px;
    
    
    
}


/* login / signup button */

.loginBtn {

  position: absolute; 
  left: 80%;

}

.loginBtn button {
  color: gray;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #141414;
  border: none;
  padding-left: 5px;
  transition-duration: 0.4s;
}

.loginBtn button:hover {
  color: #54FF8E;
}

#signupBtn {
  border-left: 1px solid #fff;
}

/* Top nav images */

#cart {
  position: absolute;
  display: block;
  min-width: 30px;
  min-height: 30px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(112deg) brightness(104%) contrast(103%);
  right: 110px;
  top: 25px;
}
/*Main Logo*/
#logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 140px;
  height: 130px;
  margin-left: 1em;
}


/*Nav Links*/
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;  
}

nav .nav-items ul li {
  list-style: none;
  padding: 0 15px;
  
}
nav .nav-items ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items ul li a:hover {
  color: rgb(135, 101, 250);
}

/*Search bar*/
#searchBar {
  margin: auto;
  margin-top: 30px;
  display: flex;
  left: -4em;
  top: -0.7em;
  height: 40px;
  padding: 2px;
  width: 65%;
  background: #171c24;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
  border-radius: 36px;
  color: white;
}

::placeholder {
  color: white;
  font-family: Roboto Mono;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}


.product_wrapper {
 
}

/* Main div for page */
.product_info {
  background-color: rgb(54, 54, 54);
  ;
  position: relative;
  width: 1248px;
  height: 868px;
  left: 120px;
  top: 156px;

}

/* laptop image div */
.product_image {
  position: absolute;
  width: 505px;
  height: 432px;
  left: 100px;
  top: 120px;
  border: 4px solid #8765FA;
  box-sizing: border-box;
}

#product_title {
  font-family: Sora;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 85%;
}


.product_price {
  position: relative;
  width: 243px;
  height: 86px;
  left: 714px;
  top: 100px;
  border: 1px solid #8765FA;
  box-sizing: border-box;
}

#stock {
  position: absolute;
  top: -2em;
  font-family: Sora;
  font-size: 16px;
  font-weight: 1000;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #0F9DCA;
}

#price {
  text-align: center;
  font-family: Sora;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  color: white;
  padding-top: 10px;
}

#basketBtn {
  position: absolute;
  width: 161px;
  height: 44px;
  left: 970px;
  top: 185px;

  background: #8765FA;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #FFFFFF;

}

.specs {
 
  position: absolute;
  width: 411px;
  height: 280px;
  left: 710px;
  top: 293px;
  

  border: 4px solid rgba(135, 101, 250, 0.94);
  box-sizing: border-box;;
}

.description {

  position: absolute;
  width: 1184px;
  height: 191px;
  left: 30px;
  top: 650px;

  border: 4px solid rgba(135, 101, 250, 0.94);
  box-sizing: border-box;
}

.cust_reviews {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 1024px;

  
}

.rate {
  position: absolute;
  background-color: rgb(54, 54, 54);
  width: 20%;
  height: 100%;
}

.rate h2 {
  font-family: Sora;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: auto;
}


/* Turn from radio buttons to stars */

[type=radio] {
  opacity: 0;
}

[type=radio]+img {
  cursor: pointer;
    margin: auto;
}



#review {
  font-size: 15px;
  left: 10em;
  font-family: Sora;
  width: 40%;
  margin: auto;  
  margin-top: 50px;
}

.stars {
  position: relative;
  top: 20px;
  left: -10px;
}

#review_no {
  color: white;
  position: relative;
  top: 35px;
  left: 100px;
}
}