@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("normalize.css");

:root {
  /* Root scope - All set-conditions below can be used anywhere in this style-sheet */
  --primary-color: rgb(27, 27, 27);
  --primary-color-light: rgb(54, 54, 54);
  --secondary-color: rgb(135, 101, 250);
  --accent-gradient: rgb(228, 0, 171);
  --text-primary: white;
  --text-secondary: rgb(189, 189, 189);
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
  
body {
  background: rgb(15, 14, 26);
  font-family: sans-serif;
}
  
.header {
  width: fit-content;
  background-color: rgb(15, 14, 26);
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
}

/* Left and right column */
.column.smallside {
  background-color: rgb(15, 14, 26);
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}

/* Left and right column */
.column.side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.column.large {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  min-height: 462px;
}
  
  /* Style the footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.fa.fa-star {
  align-content: flex-start;
  margin: 1.2rem 0 0 0;
}

img {
  height: 100%
}

#product_title {
  border: 2px solid var(--secondary-color);
  border-radius: 0.8rem;
  font-family: Ubuntu, sans-serif;
}

#stock {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 1000;
  line-height: 20px;;
  letter-spacing: 0em;
  text-align: center;
  color: #0F9DCA;
}

#price {
  text-align: left;
  font-family: Ubuntu, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  color: white;
  padding-top: 10px;
}

#specs li {
  margin: 0 0 1rem 3rem;
  list-style-position: inside;
}

#basketBtn {
  display: block;
  margin: 2rem auto;
  font-size: 2rem;
}

.details-sidebar {
    margin: 5px;
} 

.checked {
    color: white;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 980px) and (min-width: 801px) {
  #product_title {
    position: relative;
    margin: 4rem 0 0 0;
  }
}

@media (max-width: 800px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .row.selectimages{
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .header {
    margin-top: 2em;
  }

  .footer {
    position:relative;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
}